<!doctype HTML>
<html>
<head>
    <meta charset="UTF-8">
    {% load static %}
    {% load bootstrap4 %}
    <title>Choose Your Own Adventure | {% block title %}Hello{% endblock %}</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <div class="container">
        <header class="row align-items-center">
            <div class="col col-sm-10">
                {% block headline %}
                {% endblock %}
            </div>
            {% if request.session.logged_id %}
                <div class="logout col col-sm-2">
                    <a href="/portal/logout" class="btn btn-warning">Run Away</a>
                </div>
            {% endif %}
        </header>
        {% if messages %}
            <section class="row">
                <div class="col col-xs-12">
                    {% bootstrap_messages %}
                </div>
            </section>
        {% endif %}
        <main>
        {% block content %}
        {% endblock %}
        </main>
    </div>
</body>
</html>